.buttonType{
  display: inline-block;
  border: solid 1px black;
  padding: 5px 10px;
  margin: 15px;
}

.delete{
  background-image: url(../resources/images.png) ;
  background-position:  right top;
  background-repeat: no-repeat;
  background-size: 18px;
  float:right;
  padding: 10px 15px;
}